{% extends 'base.html' %}

<!-- user profile -->
{% block content %}
<div class="row w-50 profile-banner mx-auto p-3">
  {% if profile_data %}
  <div class="col col-sm-12 col-md-3 p-2 rounded user-img-section bg-info">
    <img src="{{ profile_data.picture.url }}" class="user-img" />
  </div>
  <div class="col col-sm-12 col-md-8 p-3 rounded user-details shadow-sm">
    <div>
      <span class="">
        <strong class="username"
          >{{user_data.first_name}} {{user_data.last_name}}</strong
        >
        <small>({{user_data}})</small>
        <!-- username -->
      </span>
      <!-- edit btn -->
      {% if user.id == request.user.id %}
      <a href="{% url 'edit_profile' user.pk %}" class="ml-5"> edit_profile </a>
      {% endif %}
    </div>

    <p>{{profile_data.bio}}</p>
    <p class="email"><i class="fas fa-at"></i> {{user_data.email}}</p>
    <div class="profile-details">
      <span class="badge">
        <i class="fas fa-location-pin"></i>
        {{ profile_data.street }}
      </span>
      <span class="badge">
        <i class="fas fa-phone"></i>
        {{profile_data.phone}}
      </span>
    </div>
  </div>
</div>